# Introduction to Pandas

This notebook gives an overview of pandas and how to use it. It is adapted from the getting started pages in the Pandas documentations. There are also many DataCamp courses that cover pandas [Introduction to Pandas](https://www.datacamp.com/courses/introduction-to-pandas).

Pandas will probably be your most used module in Python. It is a data analysis tool that is used to manipulate and analyze data. 

## Fundamentals

### Representation of data

![The pandas dataframe](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the data.frame in R.

## Each column is a Series

When selecting a single column of a pandas DataFrame, the result is a pandas Series.

In [2]:
import pandas as pd

# Creating an example dataframe.
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Here we have a dataframe with two columns, A and B. The values in A are 1, 2, and 3, and the values in B are 4, 5, and 6.

df

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
# Selecting a column

# To select a column, we use the column name.
df['A']

0    1
1    2
2    3
Name: A, dtype: int64

In [5]:
# Selecting multiple columns
df[['A', 'B']]

   A  B
0  1  4
1  2  5
2  3  6